*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(115, 77, 5);
    overflow: hidden;
    line-height: 200px;
    max-height: 200px;
}

header > h1{
    color: white;
}

header > img{
    width: 200px;
    height: 115px;
}

#menu-header{
    display: flex;
    align-items: center;
}

#list-menu{
    display: flex;
    margin-right: 1rem;
}

.item-menu-header{
    margin-right: 25px;
}

.item-menu-header > a:hover{
    color: yellow;
    transition: 1s;
}

.item-menu-header > a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#botao-header{
    display: flex;
}

#botao-header > button{
    padding: 8px;
    background-color: transparent;
    border: none;
}

#botao-header > button > a{
    display: flex;
    align-items: center;
}

#botao-header > button > a > img{
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

#botao-header > button > a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}

#img-destaque{    
    background: url(imgs/padaria.webp) no-repeat center;    
    background-size: cover;
    padding: 260px;
}

.img-div{
    background: url(imgs/img-div.jpg) center;
    background-size: auto;
    padding: 25px;
}

#avaliation{
    text-align: center;
}

#avaliation > .line{
    width: 10%;
    margin: 0 auto;    
}

#cliente-list{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    gap: 5%;
    font-size: 3ch;
}

#cliente-list > li > img{
    width: 80px;
    height: 70px;
}

#products{
    background: linear-gradient(180deg, #d49664 8.33%, rgba(244, 200, 175, 0) 100%);    
    padding: 30px;
    text-align: center;
}

.section-products{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}

.img-products{
    width: 300px;
    height: 300px;
    border-radius: 50px;
}

.title-products{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;    
}